body {
  font-size: 16px;
  font-family: Calibri;
  color: #000;
}

/** HEADER **/
#header-nav {
  background-color: #999;
  border-radius: 0;
  border: 1px solid;
}
.navbar-brand {
  height: auto;
}
h1 {
  display: inline;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.nav > li > a {
  padding: 5px 0 5px 0;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  text-align: center;
  background: #FFF;
  color: #000;
}
#nav-list a:hover {
  background: #BBB;
}
hr {
  margin: 0;
  border-color: #000;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-default .navbar-collapse {
  border-color: #000;
}
/* END HEADER */

/* HOME PAGE */
section {
  background-color: #999;
  margin: 10px 0px 10px 0px;
  padding: 5px 20px 5px 20px;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}
/* HOME PAGE */